<div class="interactive-wrapper">
    <div id="Glabs">
        <div id="Live">
            <div id="Header" style="margin-bottom: 148px;">
                <div id="BG_Image_Container">
                    <div id="BG_Image"
                        style="background-image: url('<%= path %>/HeroImage.jpg');">
                    </div>
                </div>
                <div class="FlexHeader">
                    <div></div>
                    <div id="MainTitle">
                        <div class="TitleTab">
                            <div class="InnerTitleTab">
                                <h1 class="tracking-in-expand"><a
                                        href="https://www.powershop.com.au/"
                                        taret="_blank" data-dyn='title'></a></h1>
                            </div>
                        </div>
                        <div id="TitleContainer">
                            <div class="Title-Container" style="margin-bottom: -111px;">
                                <h1 class="tracking-in-expand"  data-dyn='headline'></h1>
                                <h1 class="tracking-in-expand"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Top" class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div class="BodyCopy">
                        <p class="" data-dyn="standfirst"></p>
                        <div class="ClientDetails"><span>Paid for By</span><a
                                href="https://www.powershop.com.au/" target="_blank" rel="noopener noreferrer"
                                data-category="Link Clicked"><img
                                    src="<%= path %>/logo.svg"
                                    alt="PowerShop"></a></div>
                        <div class="intro" data-dyn="intro">

                        </div>
                    </div>
                </div>
            </div>
            <div class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div class="grid">
                        
                        
                    </div>
                </div>
            </div>
            <div id="Bottom" class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div class="BodyCopy cta" data-dyn="cta">
                        
                    </div>
                </div>
            </div>
            <div id="SocialMediaIcons" class="SocialMediaIcons">
                <div class="GlabsContainer">
                    <div class="ResponsiveContainer">
                        <div>
                            <div id="ShareMe">
                                <h3>Share</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div id="Footer" class=" ">
                        <h3>Read more from our content series <a
                                href="https://www.powershop.com.au/"
                                class="ReadMore"> Powershop: Power potential</a></h3>
                        <div class="InnerFooter ">
                            <div class="PartnerZoneLinks"><a
                                    href="https://www.powershop.com.au/">Lorem ipsum dolor sit amet.</a></div>
                            <div class="PartnerZoneLinks"><a
                                    href="https://www.powershop.com.au/">More content
                                    ››</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>